
<h1>Merchants</h1>
<form class="form" action="index.html" method="post">
  <% for merchant in @merchants %>
<h1><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></h1>
<% end %>
<button class="button" type="button" name="button"><a href="merchants/new">New Merchant</a></button>
</form>
