<h1>Merchant</h1>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
    <td>|</td>
    <td></td>
  </tr>
  <% end %>
</table>
<p><a href="merchants/new">new merchant</a></p>
