<table class="menu-pos">
  <h1>Merchant</h1>
  <tr>
    <th>Name</th>
  </tr>
  <% for merchant in @merchants %>
  <tr>
    <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
    <td>|</td>
    <td></td>
  </tr>
  <% end %>
</table>
<p><a href="merchants/new">New Merchant</a></p>
