
  <h2>Create New Merchant</h2>
  <form class="form" method="post" action="/merchants">
    <label for="name-field">Name:</label>
    <input
    type="text"
    name="name"
    id="name-field"
    />
    <button type="submit" name="New Tag">Create New Merchant</button>
