<form method="post" action="/merchants">
  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />
  <button type="submit" name="New Merchant">Create New Merchant</button>
