

  <form class="form" action="/merchants/<%= @merchant.id %>/delete" method="post">
      <button class="button2" type="button" name="button2"><a href="/merchants/<%= @merchant.id %>/edit">Edit Merchant</a></button>
    <h1>Merchant: <%= @merchant.name %></h1>

    <input class="delete" type="submit" value="Delete Merchant"/>
  </form>
