<h1> <%= @merchant.name %></h1>
<p><a href="/merchants/<%= @merchant.id %>/edit">Edit Merchant</a></p>
<form action="/merchants/<%= @merchant.id %>/delete" method="post">
  <input type="submit" value="Delete Merchant"/>
<hr>
