<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<main>
  <nav>
    <ul>
      <li>
        <a href="merchants">Merchants</a>
      </li>
      <li>
        <a href="tags">Tags</a>
      </li>
      <li>
        <a href="transactions/new">Transactions</a>
      </li>
    </ul>
  </nav>
</main>
  </body>
  <%= yield %>

</html>
