<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="/styles/structure.css">
  </head>
  <body class="body-size">
    <h1>Spending Tracker</h1>
<main>
  <header class="navbar-inner">


    <a href="/budgets">Budget</a>
    <a href="/merchants">Merchants</a>
    <a href="/tags">Tags</a>
    <a href="/transactions">Transactions</a>
  </header>



</main>
  </body>
  <%= yield %>

</html>
