<form action="/tags <% @tag.id %>" method="post">
  <p>Create Tag</p>
  <label for="type-field">Type:</label>
  <input type="text" name="type" value="">
  <input type="submit"  value="Create Tag">
</form>
