<h1>Tags</h1>
<table>
  <tr>
    <th>Type</th>
    <th></th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%= tag.id %>"><%= tag.type %></a></td>
    <td>|</td>
  </tr>
  <% end %>
</table>
<p><a href="tags/new">New Tag</a></p>
