<h1>Tags</h1>
<form class="form" action="index.html" method="post">

  <% for tag in @tags %>
  <h2><a href="/tags/<%= tag.id %>"><%= tag.type %></a></h2>
  <% end %>
  <button class="button" type="button" name="button">
    <a href="tags/new">New Tag</a>
  </button>
</form>
