<h2>Create New Tag</h2>
<form method="post" action="/tags">
  <label for="type-field">Type:</label>
  <input
  type="text"
  name="type"
  id="type-field"
  />
  <button type="submit" name="New Tag">Create New Tag</button>
