.body-size {
  background-color: skyblue;
}

table {
  background-color: white;
  font-size: 30px;
  width: 100%
  align-auto;
  position:
}

td {

}

h1 {
  font-family: Helvetica, sans-serif;
  color: black;
}


.sidebar {
  top: 112px;
  display: none;
}

.total {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid black;
}

.budget {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

.navbar-inner {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: flex-end;
  background-color: white;
  height: 80px;
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid lightblue;
  height: 40px;

}

.box {

}

.navbar-inner a:hover {
  border-bottom: 3px solid lightblue;
}
