<h1>Transactions</h1>
<p><a href="transactions/new">New transaction</a></p>
<div class="list">
  <ul>
    <% for transaction in @transactions %>
      <li>
        <a href="/transactions/<%= transaction.id %>"><%= transaction.amount %></a>
          <%= transaction.merchants.name %>
          <%  for tag in transaction.tags %>
          <p><%= tag.type %></p>
          <% end %>
      </li>
    <% end %>
  </ul>
</div>
