<h1>New Transaction</h1>
<form action="/transactions" method="post">
  <label>
    Select Merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<% merchant.id %>"><%=    merchant.name%></option>
      <% end %>

    </select>
  </label>
  <br>
<hr>
  <label>
    Select Tag:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<% tag.id %>"><%= tag.type %></option>
      <% end %>
    </select>
  </label>
  <br>
  <hr>
  Amount:
  <input type="number" name="Amount" value="submit">
</form>
<hr>
