<h2>New Budget</h2>
<form method="post" action="/budgets">
  <label for="cash-field">Cash:</label>
  <input
  type="number"
  name="cash"
  id="cash-field"
  />
  <button type="submit" name="New Budget">Create New Budget</button>
